 
<div class="container">
    <div class="hero"></div>
  
    <div class="promoted">
      <img src="/assets/images/HONEY JOY.jpeg" alt="Honey Joy" />
      <div class="promo-text">
        <div class="promo-main-text">My Baby Care Store</div>
        <div class="promo-sub-text cta">
          <div>SAVE 20% ON  Instant Purchace</div>
          <div>Products</div>
        </div>
      </div>
      <img src="/assets/images/Foot Coveralls.jpeg" alt="Foot Coveralls" />
    </div>
  
    <ul class="robot-parts-cta">
      <li>
        <a class="part">
          <img src="/assets/images/Aveeno Baby Bathtime Solutions.jpeg" alt="Aveeno Baby Bathtime" />
          <div>Aveeno-Baby-Bathtime</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/images/Footmuffs Rain Covers .jpeg" alt="Footmuffs Rain Covers" />
          <div>Footmuffs Rain Covers</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/images/HYCLES Baby Girp Socks 12 Pairs .jpeg" alt="HYCLES Baby Girp Socks 12 Pairs" />
          <div>HYCLES Baby Girp Socks 12 Pairs</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/images/Girls' denim plus velvet jacket.jpeg" alt="Girls' denim plus velvet jacket" />
          <div>Girls' denim plus velvet jacket</div>
        </a>
      </li>
    </ul>
  
    <div class="white-paper">
      <img src="/assets/images/Philips Avent Natural Baby Bottle Starter Set.jpeg" alt="Philips Avent Natural Baby Bottle Starter Set" />
      <div class="text">
        <div>
          <div class="header-text cta">Are children gift from God?</div>
          <div class="sub-text">
            <p>5 Fun Fact About</p>
            <p>Children</p>
          </div>
        </div>
        <div class="large-text">WHITE PAPER</div>
        <a href="" class="learn-more">Learn More</a>
      </div>
    </div>
  </div>